.most_recent {
  max-width: 700px;
  margin: auto;
}

.image_wrapper {
  position: relative;
}

.most_recent .sources {
  position: absolute;
  bottom: 0;
  right: 0;
}

.most_recent .sources ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.most_recent .sources svg {
  transition: all 0.3s;
}

.most_recent .sources svg:hover {
  transform: translateY(4px);
}

.most_recent .sources ul > li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.most_recent img {
  width: 100%;
}

.most_recent {
  grid-row: 1;
}

.most_recent .desc {
  grid-row: 1;
}

.learn_more {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 12px auto;
  padding: 20px;
  border: 1px solid var(--primary-colour);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn_more:before,
.learn_more:after,
.learn_more .projects_button:before,
.learn_more .projects_button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  background-color: var(--primary-colour);
  transition: 0.5s ease-in-out;
}

.learn_more:before {
  left: 0;
  z-index: 1;
}

.learn_more:after {
  left: 50%;
  z-index: 1;
}

.learn_more .projects_button:before,
.learn_more .projects_button::after {
  top: auto;
  bottom: 0;
  z-index: 2;
}

.learn_more .projects_button:before {
  left: 25%;
}

.learn_more .projects_button:after {
  left: 75%;
}

.learn_more:hover:before,
.learn_more:hover:after,
.learn_more:hover .projects_button:before,
.learn_more:hover .projects_button:after {
  height: 100%;
}

.projects_button span {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-colour);
}

@media (min-width: 1200px) {
  .most_recent {
    max-width: inherit;
  }

  .most_recent .image_wrapper {
    grid-column: 1;
    grid-row: 1/12;
  }

  .most_recent div {
    grid-column: 2;
  }

  .most_recent .desc {
    grid-row: 5/6;
  }

  .desc p {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  .button_container {
    grid-row: 6/7;
  }

  .learn_more {
    margin: 0;
  }
}
