.hire_me h1 {
  max-width: fit-content;
}

.hire_me p {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

.form input,
.form textarea {
  border: 1px solid grey;
  padding: 10px;
  background: none;
  color: var(--text-colour);
}

.form label,
.form button {
  margin-top: 20px;
}

.form label {
  font-size: var(--label-size);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 6px;
}

.learn_more {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 200px;
  margin: 12px auto;
  padding: 20px;
  border: 1px solid var(--primary-colour);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn_more:before,
.learn_more:after,
.learn_more .projects_button:before,
.learn_more .projects_button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25.25%;
  height: 0;
  background-color: var(--primary-colour);
  transition: 0.5s ease-in-out;
}

.learn_more:before {
  left: 0;
  z-index: 1;
}

.learn_more:after {
  left: 50%;
  z-index: 1;
}

.learn_more .projects_button:before,
.learn_more .projects_button::after {
  top: auto;
  bottom: 0;
  z-index: 2;
}

.learn_more .projects_button:before {
  left: 25%;
}

.learn_more .projects_button:after {
  left: 75%;
}

.learn_more:hover:before,
.learn_more:hover:after,
.learn_more:hover .projects_button:before,
.learn_more:hover .projects_button:after {
  height: 100%;
}

.projects_button span {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-colour);
}

.submit_message {
  text-align: center;
}

.form option {
  background: var(--background-colour);
}

.form option:nth-child(2) {
  background: var(--basic);
}

.form option:nth-child(3) {
  background: var(--professional);
}

.form option:nth-child(4) {
  background: var(--premium);
}

.form fieldset {
  border: none;
  padding: 0%;
  display: grid;
  grid-template-columns: 1fr;
}

.form fieldset div {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  border-top: 1px dotted grey;
  padding: 30px 0;
  margin: 0 30px;
}

.footer img {
  margin: auto;
  margin-bottom: 20px;
  max-width: 40px;
}

.footer span {
  font-size: 14px;
}

@media (min-width: 600px) {
  .form fieldset {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
  }

  .footer img {
    margin: 0;
  }
}

@media (min-width: 1460px) {
  .footer {
    max-width: 1200px;
    margin: auto;
  }
}
