.portfolio {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 18px;
}

.post h2 {
  margin: 16px 0;
}

.post p:first-of-type,
.languages ul li {
  color: var(--text-colour-w-dark-box);
}

.filters ul {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 0.5rem;
  max-width: 400px;
  margin: 16px auto;
  text-transform: capitalize;
  font-weight: 600;
}

.filters ul li {
  padding: 10px;
  max-width: 100%;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.active {
  background: var(--green-colour);
  color: var(--text-colour-w-dark-box);
}

.filters ul li:hover {
  border: 1px solid var(--green-colour);
}

.post {
  position: relative;
  max-width: 400px;
  border: 1px solid var(--box-colour);
  padding: 20px;
}

.post .bgImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post .languages ul,
.post .sources ul {
  display: flex;
  flex-wrap: wrap;
}

.post .languages ul>li {
  margin-right: 12px;
  margin-bottom: 12px;
}

.post .sources ul>li {
  margin-right: 12px;
}

.post .languages ul {
  font-size: 14px;
  margin-top: 26px;
}

.post .languages ul li {
  padding: 8px 12px;
  background-color: var(--premium);
}

.post .sources ul {
  margin: 0;
}

.post .sources svg {
  transition: all 0.3s;
}

.post .sources svg:hover {
  transform: translateY(4px);
}

@media screen and (min-width: 1200px) {
  .portfolio .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 100%;
    background: none;
    align-items: center;
    padding: 30px;
  }

  .portfolio .post .bgImage {
    position: initial;
    z-index: inherit;
  }

  .post h2 {
    text-align: center;
  }

  .post p:first-of-type {
    background-color: var(--box-colour);
    padding: 18px;
  }

  .filters ul {
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .post .languages ul,
  .sources ul {
    justify-content: center;
  }
}