.portfolio {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 18px;
}

.post h2 {
  margin: 16px 0 0 0;
}

.post {
  position: relative;
  max-width: 400px;
  border: 1px solid var(--box-colour);
  padding: 20px;
}

.image_wrapper {
  position: relative;
}

.sources {
  position: absolute;
  top: 8px;
  right: 0;
}

.post .bgImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.post .tools ul,
.post .sources ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.post .tools ul > li {
  margin-right: 8px;
  margin-bottom: 8px;
}

.post .sources ul > li {
  margin-right: 8px;
}

.post .tools ul {
  font-size: 16px;
  margin-bottom: 0;
}

.post .tools img {
  max-height: 20px;
  height: 100%;
}

.post .tools ul li {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  border: 1px inset var(--green-colour);
  border-radius: 10px;
  color: var(--text-colour-w-dark-box);
  padding: 4px 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.post .sources ul {
  margin: 0;
}

.post .sources svg {
  background-color: var(--box-colour);
  padding: 6px;
  transition: all 0.3s;
}

.post .sources svg:hover {
  transform: translateY(2px);
}

@media screen and (min-width: 1200px) {
  .portfolio .post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 100%;
    background: none;
    align-items: center;
    padding: 30px;
  }

  .portfolio .post .bgImage {
    position: initial;
    z-index: inherit;
  }
}
