.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  background: var(--background-colour-accent);
}

.intro img {
  max-width: 350px;
  width: 100%;
}

@media (min-width: 1200px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .intro img {
    max-width: 500px;
  }
}