#hire_me p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

form input,
form textarea,
form select {
    border: 1px solid grey;
    padding: 10px;
    background: none;
    color: var(--white-colour);
}

form select::-ms-expand {
    display: none;
}

form select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}

form button {
    padding: 20px;
    width: 200px;
    margin: auto;
    border: 1px solid var(--primary-colour);
    color: var(--white-colour);
    font-weight: 600;
    text-transform: uppercase;
}

form button:hover {
    background-color: var(--primary-colour);
}

form label,
form button {
    margin-top: 20px;
}

form label {
    font-size: var(--label-size);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6px;
}

select option {
    padding: 6px;
}

.submit_message {
    text-align: center;
}

form option {
    background: var(--background-colour);
}

form option:nth-child(2) {
    background: var(--basic);
}

form option:nth-child(3) {
    background: var(--professional);
}

form option:nth-child(4) {
    background: var(--premium);
}

form fieldset {
    border: none;
    padding: 0%;
    display: grid;
    grid-template-columns: 1fr;
}

form fieldset div {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 600;
    border-top: 1px dotted grey;
    padding-top: 20px;
}

footer img {
    margin: auto;
    margin-bottom: 20px;
    max-width: 40px;
}

@media (min-width: 700px) {
    form fieldset {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (min-width: 1200px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer img {
        margin: 0%;
    }
}