.stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  max-width: 460px;
  margin: auto;
}

.stack li {
  display: flex;
  align-items: center;
}

.stack img {
  max-width: 45px;
  height: 40px;
  object-fit: contain;
  margin-right: 8px;
}

@media (min-width: 800px) {
  .stack {
    padding: 0;
  }

  .tech {
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
  }

  .tech h1 {
    max-width: min-content;
    text-align: left;
    margin: 0;
  }
}

@media (min-width: 1350px) {
  .stack {
    margin: auto;
    margin-right: 0;
  }
}
