.headline {
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-size: var(--h1-font-size-mobile);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}

.code pre {
    background: var(--box-colour);
    color: var(--text-colour-w-dark-box);
    padding: 25px;
    overflow: auto;
    font-size: 16px;
}

.callout {
    background: var(--box-colour);
    color: var(--text-colour-w-dark-box);
    padding: 25px;
}

.basis a:hover {
    text-decoration: underline;
}

.list {
    overflow-wrap: break-word;
    margin: 6px 0;
}

.numberedList {
    list-style: decimal;
    margin: 6px 0;
}

.list,
.numberedList {
    white-space: nowrap;
}

.list span,
.numberedList span {
    white-space: normal;
}

.bold {
    font-weight: 700;
}

.codeText {
    background: var(--professional);
    padding: 0 4px;
}

.italic {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

@media (min-width: 600px) {
    .headline {
        font-size: var(--h1-font-size-tablet);
    }
}

@media (min-width: 900px) {
    .headline {
        font-size: calc(var(--h1-font-size-desktop) - 10px);
    }

    .subheadline {
        font-size: var(--h1-font-size-tablet);
        margin-bottom: 8px;
    }
}