.stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  grid-gap: 2rem;
  max-width: 300px;
  margin: auto;
  padding: 0 70px;
}

.stack div {
  display: flex;
  align-items: center;
}

.stack img {
  max-width: 45px;
  height: 40px;
  object-fit: contain;
  margin-right: 8px;
}

@media (min-width: 800px) {
  .stack {
    padding: 0;
  }
}

@media (min-width: 1350px) {
  .stack {
    margin: auto;
    margin-right: 0;
  }
}
