header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 12px 0;
}

nav li a {
  text-decoration: none;
  color: var(--text-colour);
  font-weight: 600;
  position: relative;
}

nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--primary-colour);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.8s;
}

nav ul li a:not(.hire_me a):hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* BURGER MENU */
nav input {
  display: none;
}

@media screen and (max-width: 1100px) {
  .checkBtn {
    cursor: pointer;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    right: -100%;
    transition: all 1s;
    z-index: 1;
    padding: 80px 30px;
    text-align: center;
  }

  nav ul li {
    margin: 30px 0;
  }

  nav input:checked ~ ul {
    right: 0;
  }

  nav input:checked > body,
  nav input:checked ~ #root {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  nav ul li a:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

@media screen and (min-width: 1100px) {
  .checkBtn {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin: 0 18px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  .hire_me a {
    border-radius: 2px;
    border: 1px solid var(--primary-colour);
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    position: relative;
    padding: 10px 20px;
  }

  .hire_me a::before {
    content: "";
    position: absolute;
    background: var(--primary-colour);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.4s ease-in;
    -webkit-transition: top 0.4s ease-in;
  }

  .hire_me a:hover:before {
    top: 0;
  }
}
