.entries {
    display: grid;
    gap: 20px;
}

.entries article {
    background: var(--box-colour);
    padding: 20px;
    position: relative;
}

.entries span {
    position: absolute;
    top: -25px;
    right: 25px;
    background: var(--box-colour);
    padding: 8px 16px;
    font-size: 23px;
}

.entries ul {
    display: flex;
}

.entries ul li {
    padding: 4px 6px;
    font-weight: 600;
}

.entries ul li:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 600px) {
    .entries {
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: center;
    }
}