.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.list {
  list-style: none;
  padding: 0;
}

.header nav li {
  margin: 12px 0;
}

.header nav li a {
  text-decoration: none;
  color: var(--text-colour);
  font-weight: 600;
  position: relative;
}

.header nav .list li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--primary-colour);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.8s;
}

.header nav .list li a:not(.hire_me a):hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* BURGER MENU */
#check {
  opacity: 0;
  z-index: 999;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
}

#check:checked + .checkBtn span {
  transform: rotate(45deg);
}

#check:checked + .checkBtn span::before {
  top: 0;
  transform: rotate(0deg);
}

#check:checked + .checkBtn span::after {
  top: 0;
  transform: rotate(90deg);
}

.checkBtn {
  width: 30px;
  height: 30px;
  z-index: 998;
  position: absolute;
  right: 0;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkBtn span,
.checkBtn span::before,
.checkBtn span::after {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  transition-duration: 0.26s;
}

.checkBtn span::before {
  content: "";
  top: -8px;
}

.checkBtn span::after {
  content: "";
  top: 8px;
}

@media screen and (max-width: 1100px) {
  .header nav .list {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-colour);
    right: -100%;
    transition: all 1s;
    z-index: 1;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header nav .list li {
    margin: 20px 0;
  }

  .header nav input:checked ~ .list {
    right: 0;
  }

  .header nav input:checked > body,
  .header nav input:checked ~ #root {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .header nav .list li a:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

@media screen and (min-width: 1100px) {
  .checkBtn,
  #check {
    display: none;
  }

  .header nav .list {
    display: flex;
    justify-content: space-between;
  }

  .header nav .list li {
    margin: 0 18px;
  }

  .header nav .list li:last-child {
    margin-right: 0;
  }

  .hire_me a {
    border-radius: 2px;
    border: 1px solid var(--primary-colour);
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
    position: relative;
    padding: 10px 20px;
  }

  .hire_me a::before {
    content: "";
    position: absolute;
    background: var(--primary-colour);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.4s ease-in;
    -webkit-transition: top 0.4s ease-in;
  }

  .hire_me a:hover:before {
    top: 0;
  }
}
