.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--background-colour-accent);
}

.intro img {
  max-width: 350px;
}

.presentation {
  padding: 30px;
  background: #fff;
  color: #000;
  border-radius: 2px;
  max-width: 480px;
}

.footer span {
  font-size: 14px;
}

.intro ul {
  margin: 0;
}

@media (min-width: 1400px) {
  .intro {
    justify-content: space-between;
  }

  .intro img {
    max-width: 500px;
  }
}
